<div class="shout">
  <div class="shout-content">
    <%= shout.content %>
  </div>
  <div class="shout-timestamp">
    Shouted by <%= link_to shout.user.username, shout.user %> <%= time_ago_in_words(shout.created_at) %> ago.
  </div>
</div>
