<div id="home">
  <header>
    <h1>Shoutr</h1>
    <p>Tagline</p>
  </header>

  <div class="home-forms">
    <div class="home-form">
      <%= render "sign_in_form" %>
    </div>

    <div class="home-form">
      <%= render "sign_up_form", user: @user %>
    </div>
  </div>
</div>
