<section class="sidebar">
  <div class="new-shout-form">
    <%= render "shouts/shouts_form", shout: @shout %>
  </div>
</section>

<section class="timeline">
  <header>
    <h1>My Timeline</h1>
  </header>

  <div class="shouts">
    <%= render @shouts %>
  </div>
</section>
