<section class="sidebar">
  <%= render "shouts/shouts_form", shout: @shout %>
</section>

<section class="timeline">
  <header>
    <h1>My Shouts</h1>
  </header>

  <div class="shouts">
    <%= render @shouts %>
  </div>
</section>
