/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

input {
  max-height: 1.75em;
}

h1, form {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: #333;
  background-color: #d8d8d8;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

a {
  text-transform: lowercase;
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #000;
}

/* Main Content Containers */

#homes-show {
  background: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ), url("http://content.halogenandtoast.com/images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

#main-content {
  width: 1000px;
  margin: 0 auto;
  background: #FFF;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

#homes-show #main-content, #dashboards-show #main-content, #users-show #main-content {
  background-color: transparent;
  box-shadow: none;
}

/* Nav Bar */

.top-bar {
  background-color: #FFF;
  padding: 5px 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
  height: 2em;
  line-height: 2em;
}

.feature-links {
  float: left;
}

.user-links {
  float: right;
  padding-right: 5px;
}

/* Home Page */

.home-form {
  width: 300px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.62);
  border-radius: 5px;
  margin-top: 10px;
}

.home-form label {
  display: none;
}

.home-form input[type="text"], .home-form input[type="password"], .home-form input[type="email"] {
  width: calc(100% - 25px);
  margin: 5px 5px;
  padding: 5px;
  line-height: 2em;
  border-radius: 5px;
}

.home-form h1 {
  font-size: 1em;
  margin-bottom: 5px;
}

.home-forms {
  margin-top: 60px;
  width: 300px;
  float: right;
}

#home header {
  color: #FFF;
  width: calc(100% - 310px);
  float: left;
  margin-top: 60px;
  font-size: 2em;
}

/* Timelines and Sidebars */

.sidebar, .timeline {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.62);
  border-radius: 5px;
  margin-top: 10px;
}

.sidebar {
  width: 220px;
  float: left;
}

.timeline {
  float: right;
  width: calc(100% - 230px);
}

.timeline header, .sidebar header {
  border-bottom: 1px solid #D8D8D8;
  padding: 5px 10px;
}

.timeline header h1, .sidebar header h1 {
  font-size: 1.25em;
  margin: 5px 0;
}

.sidebar form {
  padding: 10px;
}

.sidebar .users {
  padding: 10px;
}

/* Shouts */

.shout {
  padding: 10px;
  border-bottom: 1px solid #D8D8D8;
}

.shout-timestamp {
  margin-top: 5px;
  font-size: .8em;
  font-style: italic;
}
