/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: sans-serif;
  font-size: 1.3em;
  margin: 0px;
  background-color: #888;
}

a, a:active, a:visited {
  text-decoration: underline;
  color: #000;
}

a:hover {
  text-decoration: none;
}

h2 {
  font-size: 1.2em
}

#main_content {
  width: 900px;
  margin: 0 auto;
}

/* Header and Nav Styles */

header.nav_bar {
  background: #DDD;
  height: 1em;
  padding: .7em;
  clear: both;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.22);
}

.nav_bar nav {
}

nav.feature_links {
  float: left;
}

nav.user_links {
  float: right;
}

nav.user_links .greeting {
  float: left;
  padding-right: 1em;
}

/* Shout Styles */

section#shouts_list {
  clear: both
}

.shout {
  margin: .5em;
  padding: .8em;
  background-color: #DDD;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.shout_content {
  font-size: .9em;
  margin-bottom: .3em;
}

.shout_timestamp {
  color: #888;
  font-size: .6em;
  font-style: italic;
}

/* Login/Logout */

section#sign_in, section#sign_up {
  width: 350px;
  clear: both;
  margin: .4em 0em;
  padding: .8em;
  background-color: #DDD;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

section #sign_in h2, section#sign_up h2 {
  margin: .4em 0em;
}

/* General Form Styles */

form .errors{
  font-size: .8em;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline;
}

input[type="submit"] {
  font-size: .9em;
  margin-top: .3em;
  background: #fff;
  border: 1px solid #000;
}

input[type="text"], input[type="password"] {
  font-size: .7em;
}

/* Shout Form */

section#new_shout {
  background-color: #DDD;
  margin: .5em;
  padding: 0em .3em .3em;
  float: right;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

section#new_shout h2 {
  font-size: .9em;
  margin: .2em;
  padding-top: .7em;
  padding-right: .3em;
  float: left;
}

section#new_shout form {
  float: right; 
  margin: .2em;
}

section#new_shout form div {
  display: inline;
}
